* {
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    padding: 24px;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.box {
    width: 30%;
    height: 100px;
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title {
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
    ;
    border: 1px solid lightgray;
}