* {
    box-sizing: border-box;
}
/*
.container {
    display: flex;
    border: 4px solid lightgray;
    padding: 24px;
}

.box {
    border: 1px solid lightgray;
    margin-bottom: 0px;
    height: calc(100%/3);
}

.box-group {
    width: 50%;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}
.big-box {
    margin-left: 12px;
    width: 50%;
    border: 1px solid lightgray;
    height: 200px;
}
*/
.box-wrapper {
    width: 45%;
}
.box-large {
    width: 45%;
}
.box-small {
    height: 50px;
}
.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}
.container {
    border: 4px solid lightgray;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}