* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

